
body {
    font-family: 'Poppins', sans-serif;
    background:  #f3f3f3;
    color: #97144d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 40%;
    backdrop-filter: blur(10px);
}

.form-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top:20px;
   
}

.bank-form {
    display: flex;
    flex-direction: column;
}

.form-section {
    display: none;
}

.form-section.active {
    display: block;
}

.label_name {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.input-field, .select-field{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
     border: 1px solid #ccc;
    outline: none;
    background: #ffffff;
    color: #000;
    font-size: 16px;
}
.select-field{
	width:95%
}
.text-area
{
	width:97%;
	background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
     border-radius: 5px;
    border: none;
    outline: none;
}

.input-field::placeholder, textarea::placeholder {
    color:#CAC4D0;
}

.form-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-btn {
    background:#97144d;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-btn:hover {
    background:white;
    color :#97144d;
    border:1px solid #97144d;
}
.row {
    display: flex;
    gap: 0px; 
    flex-wrap: wrap;
}

.column {
    flex: 1;
    min-width: 200px;
    margin: 0; 
    padding: 0; 
}

label[for]:has(+ select[required])::after ,label[for]:has(+ textarea[required])::after, label[for]:has(+ input[required])::after{
    content: " *";
    color: red;
}

label[for="gender"]::after {
    content: " *";
    color: red;
}
        
